@page "/counter"
@using System.IO

<h1>Counter</h1>

<p>Current coun: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
	private int currentCount = 0;

	private void IncrementCount()
	{
		currentCount++;
		throw new Exception();
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await Task.Delay(5000);
			throw new Exception();
		}
	}

}
