@page "/"
@inject NavigationManager NavigationManager
@layout IndexLayout

<h3>safezone</h3>
<h3 @onclick="@(() => NavigationManager.NavigateTo("home"))">Ir al Home</h3>

@code {

	protected override async Task OnAfterRenderAsync(bool firstLoad) 
	{
		await Task.Delay(2500);
		NavigationManager.NavigateTo("home");
	}

}
