@page "/"
@inject NavigationManager NavigationManager
@inject CustomHttpClient HttpClient
@layout IndexLayout
@using CoreTelephony
@using Foundation
@using ObjCRuntime
@using Native.iOS
@using global::Shared.Utils
@using Microsoft.Maui.Essentials 

<div style="padding: 25px">
	<h3>safezone</h3>
	<h3 @onclick="@(() => NavigationManager.NavigateTo("home"))">Ir al Home</h3>

	<h3>@message</h3>
</div>

@code {

	string message;

	protected override async Task OnAfterRenderAsync(bool firstLoad) 
	{
		if (!firstLoad)
			return;

		//NavigationManager.NavigateTo("home");

		//KeyChain.SetValueForKey("tania", "appusername");

		var userLogin = await BuildUserLoginAsync();
		var http = HttpClient;

		await Task.Delay(1300);

		KeyChain.SetValueForKey("tania123", "identifier");


		message = "ICCID: => " + KeyChain.ValueForKey("identifier");

		StateHasChanged();
	}

	private Task<UserLoginDto> BuildUserLoginAsync() =>
		Task.FromResult(new UserLoginDto()
			{
				ComplexIdentifier = IdentifierUtils.CreateComplexIdentifier(),
				LastPlatform = global::Shared.Enums.Platform.iOS,
				DeviceModel = DeviceInfo.Model,
				OSVersion = !string.IsNullOrEmpty(DeviceInfo.VersionString) ? DeviceInfo.VersionString : "1.0"
			});

	/*
	private async Task<string> GetUserIpFromWebAsync()
	{
		var response = await HttpClient.c.GetAsync("https://api.my-ip.io/ip");

		return response.IsSuccessStatusCode ? await response.Content.ReadAsStringAsync() : "255.255.255.255";
	}
	*/

}
