<li>
   <div class="dz-img">
      <div class="skeleton__content skeleton__loading"><img src="https://cdn.pranksterapp.com/img/prank.jpg" style="visibility: hidden;"></div>
   </div>
   <div class="dz-text">
      <div class="skeleton__headline skeleton__placeholder skeleton__loading" style="
         height: 1.35rem;
         width: 50%;
         margin-left: 5px;">
      </div>
   </div>
</li>