<div class="dz-img items">
    <div class="skeleton__content skeleton__loading">
      @*<div class="skeleton__headline skeleton__placeholder" />*@
        <img src="@(@Main.PranksterCDN + $"img/prank.jpg")" style="visibility: hidden;">
    </div>
</div>
<div class="skeleton__headline skeleton__placeholder skeleton__loading" 
    style="
    height: 1.35rem;
    width: 50%;
    margin-left: 5px;" 
/>