<div class="dz-img items" style="
  
   background-size: contain;
    filter: grayscale(100%);
   /* background-repeat:no-repeat; */
   ">
   <img src="@(@Main.PranksterCDN + $"img/{ImageName}")" alt="@Name">
</div>
<h4 style="margin-left: 5px">@Name</h4>
<p style="margin-left: 5px">@Description</p>

@code {

    [Parameter]
    public string ImageName { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public bool Premium { get; set; }
}
